<div class="wrapper wrapper-content">
<div class="row">
    <div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-success pull-right">Today</span>
                <h5>Pending Permits</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">0</h1>
                <div class="stat-percent font-bold text-success">0% <i class="fa fa-bolt"></i></div>
                <small></small>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-info pull-right">Total</span>
                <h5>Approved</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">0</h1>
                <div class="stat-percent font-bold text-info"><i class="fa fa-level-up"></i></div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <span class="label label-info pull-right">Total</span>
                <h5>Rejected</h5>
            </div>
            <div class="ibox-content">
                <h1 class="no-margins">0</h1>
                <div class="stat-percent font-bold text-navy"><i class="fa fa-level-up"></i></div>
            </div>
        </div>
    </div>
</div>
<div class="row">

<div class="col-lg-12">
<div class="ibox float-e-margins">
<div class="ibox-title">
    <h5>Pending Activity Permits</h5>
    <div class="ibox-tools">
        <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
        </a>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-wrench"></i>
        </a>
        <a class="close-link">
            <i class="fa fa-times"></i>
        </a>
    </div>
</div>
<div class="ibox-content">
    <div class="row">
        <div class="col-sm-9 m-b-xs">
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                                </span>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Activity </th>
                <th>Venue</th>
                <th>Date</th>
                <th>Time</th>
                <th>Current Approving Personnel </th>
                <th>Status </th>
                <th>Cancel</th>
            </tr>
            </thead>
            
            <tbody>
            
            </div>
            <% for post in @permit %>
            <tr>
                <td><%= post.activity %></td>
                <% for room in @rooms %>
                    <% if post.venue == room.id %>
                        <td><%= room.room %></td>
                    <% end %>
                <% end %>
                <td><%= post.date_needed %></td>
                <td><%= post.timefrom %> - <%= post.timeto %></td>
                
                <% if post.adviserStatus == "pending" %>
                    <td>Adviser</td>
                    <td><span class="pie">1,4</span><%= post.adviserStatus %></td>
                    <td><% if  current_user.id == post.adviser %>
                    <a href="#" class="glyphicon glyphicon-ok" data-toggle="modal" data-target="#adviserModal"></a>
                    <a href="#" class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#adviserModal"></a>
                    <% end %></td>
                <% elsif post.osaStatus == "pending" %>
                    <td>OSA Coordinator</td>
                    <td><span class="pie">1,3</span><%= post.osaStatus %></td>
                    <td><% if  current_user && current_user.is_osa?%>
                     <a href="#" class="glyphicon glyphicon-ok" data-toggle="modal" data-target="#osaModal"></a>
                    <a href="#" class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#osaModal"></a>
                    <% end %></td>
                <%elsif post.facilityStatus == "pending" %>
                    <td>Facility in Charge</td>
                    <td><span class="pie">4,4</span><%= post.facilityStatus %></td>
                    <td><% for room in @rooms %>
                    <% if  current_user.id == room.in_charge && room.id == post.venue %>
                    <a href="#" class="glyphicon glyphicon-ok" data-toggle="modal" data-target="#facilityModal"></a>
                    <a href="#" class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#facilityModal"></a>
                    <% end %>
                    <% end %></td>
                <%elsif post.saoStatus == "pending" %>
                    <td>Sir Teles</td>
                    <td><span class="pie">3,1</span><%= post.saoStatus %></td>
                    <td><% if  current_user && current_user.is_sao?%>
                    <a href="#" class="glyphicon glyphicon-ok" data-toggle="modal" data-target="#saoModal"></a>
                    <a href="#" class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#adviserModal"></a>
                    <% end %></td>
                
                <% end %>
                <td><%= link_to "", permits_edit_path(:id => post.id), class: "glyphicon glyphicon-pencil" %>
                <%= link_to "", permits_destroy_path(:id => post.id), class: "glyphicon glyphicon-trash" %>

                </td>

            </tr>
            <% end %>
            </tbody>
            
        </table>
    </div>

</div>
</div>
</div>

</div>

</div>

<!-- Modal -->
  <div class="modal fade" id="adviserModal" role="dialog" data-backdrop="false">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 style="color:red;"><span class="glyphicon glyphicon-lock"></span> Confirm Identity</h4>
        </div>
        <div class="modal-body">
            <%= form_tag url_for(:controller => :adviser, :action => :approve), :class => "form-group", :method => :get do %>
                <%= label_tag :password, "Enter password"%>
                <%= password_field_tag :password, nil, class: "form-control" %>
                <%= hidden_field_tag :id, post.id %>
                <%= submit_tag "Approve", class: "btn btn-default btn-success btn-block"%>
            <% end %>
          </form>
        </div>
      </div>
    </div>
  </div> 
</div>

<!-- Modal -->
  <div class="modal fade" id="osaModal" role="dialog" data-backdrop="false">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 style="color:red;"><span class="glyphicon glyphicon-lock"></span> Confirm Identity</h4>
        </div>
        <div class="modal-body">
            <%= form_tag url_for(:controller => :adviser, :action => :approve), :class => "form-group", :method => :get do %>
                <%= label_tag :password, "Enter password"%>
                <%= password_field_tag :password, nil, class: "form-control" %>
                <%= hidden_field_tag :id, post.id %>
                <%= submit_tag "Approve", class: "btn btn-default btn-success btn-block"%>
            <% end %>
          </form>
        </div>
      </div>
    </div>
  </div> 
</div>

<!-- Modal -->
  <div class="modal fade" id="facilityModal" role="dialog" data-backdrop="false">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 style="color:red;"><span class="glyphicon glyphicon-lock"></span> Confirm Identity</h4>
        </div>
        <div class="modal-body">
            <%= form_tag url_for(:controller => :adviser, :action => :approve), :class => "form-group", :method => :get do %>
                <%= label_tag :password, "Enter password"%>
                <%= password_field_tag :password, nil, class: "form-control" %>
                <%= hidden_field_tag :id, post.id %>
                <%= submit_tag "Approve", class: "btn btn-default btn-success btn-block"%>
            <% end %>
          </form>
        </div>
      </div>
    </div>
  </div> 
</div>

<!-- Modal -->
  <div class="modal fade" id="saoModal" role="dialog" data-backdrop="false">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 style="color:red;"><span class="glyphicon glyphicon-lock"></span> Confirm Identity</h4>
        </div>
        <div class="modal-body">
            <%= form_tag url_for(:controller => :adviser, :action => :approve), :class => "form-group", :method => :get do %>
                <%= label_tag :password, "Enter password"%>
                <%= password_field_tag :password, nil, class: "form-control" %>
                <%= hidden_field_tag :id, post.id %>
                <%= submit_tag "Approve", class: "btn btn-default btn-success btn-block"%>
            <% end %>
          </form>
        </div>
      </div>
    </div>
  </div> 
</div>

<!-- Modal -->
  <div class="modal fade" id="adviserModal" role="dialog" data-backdrop="false">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 style="color:red;"><span class="glyphicon glyphicon-lock"></span> Confirm Identity</h4>
        </div>
        <div class="modal-body">
            <%= form_tag url_for(:controller => :adviser, :action => :reject), :class => "form-group", :method => :get do %>
                <%= label_tag :password, "Enter password before approving"%>
                <%= password_field_tag :password, nil, class: "form-control" %>
                <%= hidden_field_tag :id, post.id %>
                <%= submit_tag "Reject", class: "btn btn-default btn-success btn-block"%>
            <% end %>
          </form>
        </div>
      </div>
    </div>
  </div> 
</div>

<!-- Modal -->
  <div class="modal fade" id="osaModal" role="dialog" data-backdrop="false">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 style="color:red;"><span class="glyphicon glyphicon-lock"></span> Confirm Identity</h4>
        </div>
        <div class="modal-body">
            <%= form_tag url_for(:controller => :adviser, :action => :reject), :class => "form-group", :method => :get do %>
                <%= label_tag :password, "Enter password"%>
                <%= password_field_tag :password, nil, class: "form-control" %>
                <%= hidden_field_tag :id, post.id %>
                <%= submit_tag "Reject", class: "btn btn-default btn-success btn-block"%>
            <% end %>
          </form>
        </div>
      </div>
    </div>
  </div> 
</div>

<!-- Modal -->
  <div class="modal fade" id="facilityModal" role="dialog" data-backdrop="false">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 style="color:red;"><span class="glyphicon glyphicon-lock"></span> Confirm Identity</h4>
        </div>
        <div class="modal-body">
            <%= form_tag url_for(:controller => :adviser, :action => :reject), :class => "form-group", :method => :get do %>
                <%= label_tag :password, "Enter password"%>
                <%= password_field_tag :password, nil, class: "form-control" %>
                <%= hidden_field_tag :id, post.id %>
                <%= submit_tag "Reject", class: "btn btn-default btn-success btn-block"%>
            <% end %>
          </form>
        </div>
      </div>
    </div>
  </div> 
</div>

<!-- Modal -->
  <div class="modal fade" id="saoModal" role="dialog" data-backdrop="false">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 style="color:red;"><span class="glyphicon glyphicon-lock"></span> Confirm Identity</h4>
        </div>
        <div class="modal-body">
            <%= form_tag url_for(:controller => :adviser, :action => :reject), :class => "form-group", :method => :get do %>
                <%= label_tag :password, "Enter password"%>
                <%= password_field_tag :password, nil, class: "form-control" %>
                <%= hidden_field_tag :id, post.id %>
                <%= submit_tag "Reject", class: "btn btn-default btn-success btn-block"%>
            <% end %>
          </form>
        </div>
      </div>
    </div>
  </div> 
</div>
<% content_for :javascript do %>

<script type="text/javascript">

$(function() {

    $("span.pie").peity("pie", {
        fill: ['#1ab394', '#d7d7d7', '#ffffff']
    })

    var d1 = [[1262304000000, 6], [1264982400000, 3057], [1267401600000, 20434], [1270080000000, 31982], [1272672000000, 26602], [1275350400000, 27826], [1277942400000, 24302], [1280620800000, 24237], [1283299200000, 21004], [1285891200000, 12144], [1288569600000, 10577], [1291161600000, 10295]];
    var d2 = [[1262304000000, 5], [1264982400000, 200], [1267401600000, 1605], [1270080000000, 6129], [1272672000000, 11643], [1275350400000, 19055], [1277942400000, 30062], [1280620800000, 39197], [1283299200000, 37000], [1285891200000, 27000], [1288569600000, 21000], [1291161600000, 17000]];

    var data1 = [
        { label: "Data 1", data: d1, color: '#17a084' },
        { label: "Data 2", data: d2, color: '#127e68' }
    ];
    $.plot($("#flot-chart1"), data1, {
        xaxis: {
            tickDecimals: 0
        },
        series: {
            lines: {
                show: true,
                fill: true,
                fillColor: {
                    colors: [{
                        opacity: 1
                    }, {
                        opacity: 1
                    }]
                },
            },
            points: {
                width: 0.1,
                show: false
            },
        },
        grid: {
            show: false,
            borderWidth: 0
        },
        legend: {
            show: false,
        }
    });

    var lineData = {
        labels: ["January", "February", "March", "April", "May", "June", "July"],
        datasets: [
            {
                label: "Example dataset",
                fillColor: "rgba(220,220,220,0.5)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [65, 59, 40, 51, 36, 25, 40]
            },
            {
                label: "Example dataset",
                fillColor: "rgba(26,179,148,0.5)",
                strokeColor: "rgba(26,179,148,0.7)",
                pointColor: "rgba(26,179,148,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(26,179,148,1)",
                data: [48, 48, 60, 39, 56, 37, 30]
            }
        ]
    };

    var lineOptions = {
        scaleShowGridLines: true,
        scaleGridLineColor: "rgba(0,0,0,.05)",
        scaleGridLineWidth: 1,
        bezierCurve: true,
        bezierCurveTension: 0.4,
        pointDot: true,
        pointDotRadius: 4,
        pointDotStrokeWidth: 1,
        pointHitDetectionRadius: 20,
        datasetStroke: true,
        datasetStrokeWidth: 2,
        datasetFill: true,
        responsive: true,
    };


    var ctx = document.getElementById("lineChart").getContext("2d");
    var myNewChart = new Chart(ctx).Line(lineData, lineOptions);

});


</script>

<% end %>