
  
  <div class="wizard-big">
  <%= form_tag("update", method: "put") do %>
      <div class="row">
          <div class="col-lg-8">
              <div class="form-group">
                  <%= label_tag(:activity, "Activity: ") %>
                  <%= text_field_tag :activity, @permit.activity %>
              </div>
              <div class="form-group">
                  <%= label_tag(:venue, "Venue: ") %>
                  <%= text_field_tag :venue, @permit.venue %>
              </div>
             
              <div class="form-group">
                  <%= label_tag(:date_needed, "Date Needed: ") %>
                  <%= text_field_tag :date_needed, @permit.date_needed %>
              </div>
              <div class="form-group">
                  <%= label_tag(:time, "Time: ") %>
                  <%= text_field_tag :timefrom, @permit.timefrom %> - <%= text_field_tag :timefrom, @permit.timeto %>
              </div>
             
              <%  hidden_field_tag 'org_id', @permit.org_id %>
              <%= hidden_field_tag 'osaStatus', 'pending'  %>
              <%= hidden_field_tag 'adviserStatus', 'pending'  %>
              <%= hidden_field_tag 'saoStatus', 'pending'  %>
              <%= hidden_field_tag 'facilityStatus', 'pending'  %>
              <%= hidden_field_tag 'id', @permit.id  %>
                  <%= submit_tag("Submit") %>
          </div>
      </div>
  <% end %>
  </div>