
<div class="wizard-big">
<%= form_tag("create", method: "post") do %>
    <div class="row">
        <div class="col-lg-8">
            <div class="form-group">
                <%= label_tag(:activity, "Activity: ") %>
                <%= text_field_tag(:activity) %>
            </div>
            <div class="form-group">
                <%= label_tag(:venue, "Venue: ") %>
                <%= text_field_tag(:venue) %>
            </div>
            
            <div class="form-group">
                <%= label_tag(:date_needed, "Date Needed: ") %>
                <%= date_field_tag(:date_needed) %>
            </div>
            <div class="form-group">
                <%= label_tag(:time, "Time: ") %>
                <%= time_field_tag(:timefrom) %> - <%= time_field_tag(:timeto) %>
            </div>

            <%= hidden_field_tag :org_id, current_user.id  %>
            <%= hidden_field_tag 'osaStatus', 'pending'  %>
            <%= hidden_field_tag 'adviserStatus', 'pending'  %>
            <%= hidden_field_tag 'saoStatus', 'pending'  %>
            <%= hidden_field_tag 'facilityStatus', 'pending'  %>
                <%= submit_tag("Submit") %>
        </div>
    </div>
<% end %>
</div>
