

<div class="row">
<div class="col-lg-12">
<div class="ibox float-e-margins">
    <% if flash[:notice] -%>
        <div class="alert alert-success">
            <p class="notice"><%= flash[:notice] %></p>
        </div>  
    <% end -%>
<div class="ibox-title">
    <h5>Rejected Activity Permits</h5>
    <div class="ibox-tools">
        <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
        </a>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-wrench"></i>
        </a>
        <a class="close-link">
            <i class="fa fa-times"></i>
        </a>
    </div>
</div>
<div class="ibox-content">
    <div class="row">
        <div class="col-sm-9 m-b-xs">
        </div>
        <div class="col-sm-3">
            <div class="input-group">
                <input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-primary"> Go!</button>
                                </span>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Activity </th>
                <th>Venue</th>
                <th>Date</th>
                <th>Time</th>
                <th>Current Approving Personnel </th>
                <th>Status </th>
            </tr>
            </thead>
            
            <tbody>
            <% for post in @permit %>
            <tr>
                <td><%= post.activity %></td>
                <% for room in @rooms %>
                    <% if post.venue == room.id %>
                        <td><%= room.room %></td>
                    <% end %>
                <% end %>
                <td><%= post.date_needed %></td>
                <td><%= post.timefrom %> - <%= post.timeto %></td>
                <% if post.adviserStatus == "pending" %>
                    <td>Adviser</td>
                <% elsif post.osaStatus == "pending" %>
                    <td>OSA Coordinator</td>
                <%elsif post.facilityStatus == "pending" %>
                    <td>Facility in Charge</td>
                <%elsif post.saoStatus == "pending" %>
                    <td>Sir Teles</td>
                <% else %>
                     <td>Rejected</td>
                <% end %>
                
                <% if current_user.is_adviser? %>
                    <td><%= post.adviserStatus %></td>
                <% elsif current_user.is_osa? %>
                    <td><%= post.osaStatus %></td>
                <% elsif current_user.is_facility? %>
                    <td><%= post.facilityStatus %></td>
                <% elsif current_user.is_sao? %>
                    <td><%= post.saoStatus %></td>
                <% elsif current_user.is_student_org? %>
                    <td><%= post.saoStatus %></td>
                <% end %>

            </tr>
            <% end %>
            </tbody>
            
        </table>
    </div>

</div>
</div>
</div>
</div>
</div>