<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <div>

            <h1 class="logo-name">AP+</h1>

        </div>
        <h3>Welcome to OAPS</h3>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), class: 'm-t', role: 'form') do |f| %>
            <div class="form-group">
                <%= f.email_field :email, class: 'form-control', placeholder: 'Email', autofocus: true, autocomplete: "email" %>
            </div>
            
            <div class="form-group">
                <%= f.password_field :password, class: "form-control", placeholder: "Password", required: ""%>
            </div>
            
            <% if devise_mapping.rememberable? -%>
                <div class="field">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
            <% end -%>
            
            <%= f.submit "Log in", class: 'btn btn-primary block full-width m-b' %>

            <a href="#"><small>Forgot password?</small></a>
            <p class="text-muted text-center"><small>Do not have an account?</small></p>
            <a class="btn btn-sm btn-white btn-block" href="<%= url_for :controller => 'devise/registrations', :action => 'new' %>">Create an account</a>
        <% end %>
        <p class="m-t"> <small></small> </p>
    </div>
</div>



