<h1> NEW ROOM </h1>

<div class="wizard-big">
<%= form_tag("create", method: "post") do %>
    <div class="row">
        <div class="col-lg-8">
            <div class="form-group">
                <%= label_tag(:room, "Room: ") %>
                <%= text_field_tag(:room) %>
            </div>
            <div class="form-group">
                <%= label_tag(:code, "Room Code: ") %>
                <%= text_field_tag :code,"", class: 'form-control' %>
            </div>
            <div class="form-group">
                <%= label_tag(:in_charge, "Facility in Charge: ") %>
                <%= select_tag(:in_charge, options_for_select(@users.collect{ |u| [u.name, u.id] })) %>
            </div>
            <%= submit_tag("Submit", :class=>"btn btn-success") %>
        </div>
    </div>
<% end %>
</div>
