<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" src="<%= image_url 'profile_small2.jpg' %>"/>
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">UP Interactive Society</strong>
                            </span> <span class="text-muted text-xs block">Student Organiztion <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="">Profile</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="">Logout</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">
                    AP+
                </div>
            </li>
            <li class="<%= is_active_controller('dashboards') %>">
                <a href=""><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span></a>
            </li>
            <li class="<%= is_active_controller('permits') %>">
                <%= link_to permits_new_path do %>
                <i class="fa fa-edit"></i> <span class="nav-label">Apply Activity Permit</span>
                <% end %>
            </li>
            <li class="<%= is_active_controller('forms') %>">
                <a href="#"><i class="fa fa-files-o"></i> <span class="nav-label">Activity Permits</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level is_active_controller('forms')">
                    <li class="<%= is_active_action('advanced') %>"><%= link_to "Pending", forms_advanced_path %> </li>
                    <li class="<%= is_active_action('wizard') %>"><%= link_to "Approved", forms_wizard_path %> </li>
                    <li class="<%= is_active_action('file_upload') %>"><%= link_to "Rejected", forms_file_upload_path %> </li>
                </ul>
            </li>
            <li class="<%= is_active_controller('tables') %>">
                <a href="#"><i class="fa fa-table"></i> <span class="nav-label">Calendars</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level is_active_controller('tables')">
                    <li class="<%= is_active_action('static_tables') %>"><%= link_to "DSS", tables_static_tables_path %> </li>
                    <li class="<%= is_active_action('data_tables') %>"><%= link_to "DM", tables_data_tables_path %></li>
                    <li class="<%= is_active_action('jqgrid') %>"><%= link_to "DH", tables_jqgrid_path %></li>
                    <li class="<%= is_active_action('static_tables') %>"><%= link_to "DNSM", tables_static_tables_path %> </li>
                    <li class="<%= is_active_action('data_tables') %>"><%= link_to "Admin", tables_data_tables_path %></li>
                </ul>
            </li>
            <li class="<%= is_active_controller('layoutsoptions') %>">
                <%= link_to layoutsoptions_index_path do %>
                <i class="fa fa-diamond"></i> <span class="nav-label">Profile Settings</span>
                <% end %>
            </li>
        </ul>

    </div>
</nav>